body {
  margin: 0;
  background-color: #f3f2f2;
  width: 100%;
  padding: 0;
}

nav {
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  padding: 20px;
}
a {
  font-size: 0.813rem;
  opacity: 0.5;
  width: 6.563rem;
  text-decoration: none;
  color: #121212;
}

h1 {
  color: #0290ff;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0.375rem 2.938rem 0.125rem 0;
}

h2 {
  color: grey;
  font-size: 1.25rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  height: 1.5rem;
  letter-spacing: -0.18px;
  line-height: normal;
  margin: 1.813rem 32.75rem 1.188rem 2.188rem;
  width: 15.875rem;
}

.form-control {
  width: 250px !important;
}

.title {
  color: grey;
  font-size: 1.25rem;
  font-weight: 700;
}

.input-wrapper {
  display: flex;
}

.submit {
  margin-top: 20px;
}
.input-wrapper > .form-control {
  margin-right: 15px;
  margin-top: 20px;
}

.container {
  margin: 0 10%;
  padding: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 80%;
}
li {
  list-style-type: none;
  background-color: white;
  border-radius: 5px;
}

b {
  opacity: 0.5;
}

.titles {
  font-weight: 800;
}

.author {
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}
.card {
  padding: 20px;
  border: none;
  border-radius: 5px;
}

.flex-wraper {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.circular-progress {
  align-items: center;
  display: flex;
  height: 4.625rem;
  justify-content: center;
  margin: auto;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  width: 9.625rem;
}

.flex-center {
  display: flex;
  align-items: center;
}

div[role="progressbar"] {
  --size: 4.25rem;
  --fg: #307bbe;
  --bg: #e8e8e8;
  --pgPercentage: 25;
  -webkit-animation: growProgressBar 3s 1 forwards;
  animation: growProgressBar 3s 1 forwards;
  background: radial-gradient(
      closest-side,
      #fff 80%,
      transparent 0 99.9%,
      #fff 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  border-radius: 50%;
  color: var(--fg);
  display: grid;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  height: var(--size);
  place-items: center;
  width: var(--size);
}

@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: 25;
  }
}

.myBtn {
  display: flex;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.current-page-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 14rem;
}

.current-page-label {
  font-weight: 300;
  font-size: 0.813rem;
  color: #121212;
  opacity: 0.5;
}

.current-page {
  font-weight: 300;
  margin-top: 0.438rem;
  font-size: 1rem;
  color: #121212;
  letter-spacing: -0.4px;
}

.progress-stat {
  padding-right: 40px;
}
.percent-complete {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #121212;
}

.completed {
  font-family: "Montserrat", sans-serif;
  font-size: 00.875rem;
  opacity: 0.5;
  color: #121212;
}

.myBtn > p {
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid #c8c8c8;
  cursor: pointer;
}
.myBtn > p:last-child {
  border: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.top {
  padding-bottom: 20px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
