* {
  margin: 0px;
  padding: 0px;
}
body {
  max-height: 100vh;
  overflow: scroll;
}

.social-media-icons {
  font-size: 2rem;
  text-align: right;
}

.social-media-icons,
a {
  text-decoration: none;
  margin-right: 10px;
}
.pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
}
.profile {
  margin: 10px 0 5%;
  display: flex;
}
.profile-wrapper {
  letter-spacing: 0.5px;
  margin-left: 40px;
}

.card {
  display: flex;
  flex: 1 1 auto;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.post {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.post span {
  margin-right: 10px;
}
.box {
  display: flex;
}

.box,
button {
  margin-top: 10px;
  margin-right: 10px;
}
small {
  font-size: 15px;
}
